doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallels
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="normalize.css")
    link(rel="stylesheet", type="text/css", href="all.css")
  body
    #page
      header.main-header
        nav
          .parallels
            img(src="../img-compressed/circle.png", alt="Logo")
            | Parallels
          ul.main-nav
            li
              a.scroll(href="#home") Home 
            li
              a.scroll(href="#services") Services
            li
              a.scroll(href="#portfolio") Portfolio 
            li
              a.scroll(href="#pricing") Pricing 
            li
              a.scroll(href="#about ") About 
            li
              a.scroll(href="#contact") Contact
          a.burger
            span
            span
            span
              
      section.home#home
        .home-container
          .wrap
            h2 Welcome to Parallels </br> 
              span Clean Responsive Parallax Theme  
                
            .icon-container
              img.sun(src="../img-compressed/sun.svg", alt="sun")
              img.calendar(src="../img-compressed/calendar.svg", alt="calendar")
              img.placeholder(src="../img-compressed/placeholder.svg", alt="placeholder")
              img.mail(src="../img-compressed/mail.svg", alt="mail")
              img.like(src="../img-compressed/like.svg", alt="like")
              img.printer(src="../img-compressed/printer.svg", alt="printer")
              img.empty-inbox(src="../img-compressed/empty-inbox.svg", alt="empty-inbox")
              img.photo-camera(src="../img-compressed/photo-camera.svg", alt="photo-camera")
          

                                      
      section.services#services 
        .wrap
          h1 Our Services
          .serv-container
            .box
              img(src="../img-compressed/browser.png", alt="browser-logo")
              h3 Web Design
              span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu varius dui. Nunc id scelerisque ligula.
            .box
              img(src="../img-compressed/iphone.png", alt="iphone-logo")
              h3 UI Design
              span Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            .box
              img(src="../img-compressed/trash.png", alt="trash-logo")
              h3 Prototype
              span Sed vestibulum mi quis est lacinia tempor. Praesent vitae commodo tellus. Cras eu est sem. 
            .box
              img(src="../img-compressed/camera.png", alt="camera-logo")
              h3 Photography
              span Donec tempus lacinia purus ut tincidunt. Nunc vel feugiat leo. Nunc iaculis hendrerit gravida.
              
      section.theme
        .wrap
          h1 Do you like this clean theme?
          div
            button Purchase
          div
            button Follow
          
          
          
      section#portfolio.portfolio    
          .wrap
            h1 Portfolio
            .buttons
              button.change(data-folder="web-design") Web-design
              button.change(data-folder="ui-design") UI Design
              button.change(data-folder="prototype") Prototype
              button.change.active(data-folder="photography") Photography
            .project-load
              .photos
                figure
                  img(src="../img/fit1.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit2.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit3.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit1.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit2.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit3.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit1.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
                figure
                  img(src="../img/fit2.jpg", alt="")
                  figcaption
                    h3 Amazing Design
                    span photography
                    div
                      img(src="../img/Chat.png", alt="Chat")
                      span 53
                      img(src="../img/Heart.png", alt="Heart")
                      span 234
          
                      
      section.usual.pricing
        .wrap
          h1 Pricing table </br> 
          span Clean beautiful flat table
      
      section.our-price#pricing
        .wrap
          h1 Our Price
          .thumb-container
            .thumbnail.dark
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
            .thumbnail.light
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
            .thumbnail.dark
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
            .thumbnail.light
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
            .thumbnail.light
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
            .thumbnail.light
              span Website hosting
              span $10/month
              span <strong>2x</strong> option 1
              span <strong>Free</strong> option 2
              span <strong>Unlimited</strong> option 3
              span <strong>Unlimited</strong> option 4
              span <strong>1x option</strong> 5
              button Purchase
          .clients-about
            span
            span CLIENTS ABOUT US
            span
          .quote
            span <span>“</span> Donec leo elit, dignissim eu elit vitae, aliquam tincidunt purus. Proin id risus ut sem vehicula faucibus. Fusce sed libero nec quam tempus facilisis. Vestibulum venenatis nisl ac feugiat aliquet. Sed euismod ligula arcu, et mollis est volutpat et. Aenean sed nulla placerat neque lacinia ullamcorper. <span>”</span></br> 
            br
            span.name #PERRY MALITON
        
      section.usual.team
        .wrap
          h1 Our team </br> 
          span We a professional and progressive team
        
      section.about#about
        .wrap
          h1 About Us
          .about-container
            figure              
              figcaption
                img(src="../img-compressed/photo.png", alt="photo")
                h3 Mark Cream </br>
                  span Developer
                span Curabitur congue libero mi, et lacinia sem blandit sit amet. Donec eu mi non magna rhoncus bibendum et eu dui. Nunc iaculis placerat sapien vel imperdiet. 
            figure            
              figcaption
                img(src="../img-compressed/photo2.png", alt="photo")
                h3 Antonio Parama </br>
                  span Designer
                span Curabitur congue libero mi, et lacinia sem blandit sit amet. Donec eu mi non magna rhoncus bibendum et eu dui. Nunc iaculis placerat sapien vel imperdiet. 
            figure              
              figcaption
                img(src="../img-compressed/photo3.png", alt="photo")
                h3 Ben Arrow </br>
                  span Team Leader
                span Curabitur congue libero mi, et lacinia sem blandit sit amet. Donec eu mi non magna rhoncus bibendum et eu dui. Nunc iaculis placerat sapien vel imperdiet. 
            figure            
              figcaption
                img(src="../img-compressed/photo4.png", alt="photo")
                h3 Sam Brown</br>
                  span Manager
                span Curabitur congue libero mi, et lacinia sem blandit sit amet. Donec eu mi non magna rhoncus bibendum et eu dui. Nunc iaculis placerat sapien vel imperdiet. 
                
          .skills
            .line
            span Our Skills
          .skill-container
            .box
              .big-circle
                .med-circle.med-first
              .small-circle
                span.one
              h3 DESIGN
            .box
              .big-circle
                .med-circle.med-second
              .small-circle
                 span.two
              h3 DEVELOPMENT
            .box
              .big-circle
                .med-circle.med-first
              .small-circle: span.one
              h3 ORGANIZATION   
            .box
              .big-circle
                .med-circle.med-second
              .small-circle: span.two 
              h3 LEARNING      
            .box
              .big-circle
                .med-circle.med-first
              .small-circle: span.one
              h3 COOPERATION
            
      section.usual.great
        .wrap
          h1 You looked OVER 6000 px </br> 
          span That’s Great!
      
      section.contact#contact
        .wrap
          h1 Contact Us
          .contact-container
            .form-container
              h2 Mail
              form
                input(type="text", placeholder="Your Name")
                input(type="email", placeholder="Your Email")
                textarea(name="massege", placeholder=" Tell Us About Your Project") 
                button(type="submit") Submit
            .more-info
              h2 More Info
              span 
                |2 (555) 888 555 03 20
                br
                strong info@domain.com
                br
                |skype: <strong>username</strong>
                br
                |John Dowl
                br
                strong Salt Talke city. UT
                br
                strong 87550
                br
              button Purchase             
              
      
          
      section.usual.connect
        .wrap
          h1 Connect with us </br> 
          span Follow Us On Social Networks
          .social
            img(src="../img-compressed/linkedin.svg", alt="in")
            img(src="../img-compressed/facebook.svg", alt="facebook")
            img(src="../img-compressed/twitter.svg", alt="twitter")
            img(src="../img-compressed/vk.svg", alt="vk")
            img(src="../img-compressed/google-plus.svg", alt="google-plus")
      
      section.photo-stream
        .wrap
          .box
            h2 Recent tweets
            img(src="../img-compressed/twitter.png", alt="tweet")
            span &nbsp; booty, 15.10.2013
            br
            br
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ultrices massa. 
            a(href="#") Phasellus laoreet 
            | &nbsp; consequat lorem, vel egestas tortor ultricies eu. 
            br
            br
            img(src="../img-compressed/twitter.png", alt="tweet")
            span &nbsp; booty, 15.10.2013
            br
            br
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .box
            h2 Recent Posts 
            |15.10.2013
            br
            br
            |Maecenas et nisl pellentesque, fermentum ante facilisis, aliquet ligula. 
            br
            br
            |25.10.2013
            br
            br
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            br
            br
            |5.10.2013
            br
            br
            |Aliquam eu leo adipiscing, imperdiet arcu nec, malesuada lorem.
          .box    
            h2 Photo Streem
            .photo-container
              img(src="../img-compressed/a.png", alt="photo")
              img(src="../img-compressed/a8.png", alt="photo")
              img(src="../img-compressed/a2.png", alt="photo")
              img(src="../img-compressed/a3.png", alt="photo")
              img(src="../img-compressed/a4.png", alt="photo")
              img(src="../img-compressed/a5.png", alt="photo")
              img(src="../img-compressed/a6.png", alt="photo")
              img(src="../img-compressed/a7.png", alt="photo")
              img(src="../img-compressed/a8.png", alt="photo")
              img(src="../img-compressed/a2.png", alt="photo")
              img(src="../img-compressed/a5.png", alt="photo")
              img(src="../img-compressed/a3.png", alt="photo")
      
      footer
        .wrap
          .logo
            img(src="../img-compressed/circle.png", alt="logo")
            | Parallels
          
          .info
            |2 (555) 888 555 03 20    &nbsp;    info@domain.com    &nbsp;    skype: username
    #cover
      .loader
    script(src="jquery-3.1.0.min.js")        
    script(src="function.js")
      
