@import mixin-var.sass

.about
  +dark-section()
  .wrap
    +wrap()
    h1
      +h1()
    .about-container
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      text-align: center
      color: white
      padding-bottom: 80px
      figure
        width: 100%
        max-width: 210px
        figcaption
          h3
            span
              font-family: $roboto
              font-size: 16px
              font-weight: 300
              line-height: 20px
          span
            font-family: $arial
            color: #acacac

    .skills
      padding-top: 6.5px
      padding-bottom: 6.5px
      position: relative
      text-align: center
      .line
        height: 2px
        background-color: #424242
        display: none
      span
        padding-left: 40px
        padding-right: 40px
        background-color: $dark-section
        color: white
        font-family: $roboto
        font-size: 18px
        font-weight: 500
        line-height: 20px
        text-transform: uppercase

    .skill-container
      margin-top: 60px
      padding-bottom: 80px
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      .box
        width: 145px
        height: 73px
        position: relative
        margin-bottom: 50px
        .big-circle
          background-color: #424242
          position: absolute
          width: 145px
          height: 73px
          border-radius: 90px 90px 0 0
          overflow: hidden
          .med-circle
            position: absolute
            background-color: #424242
            background-image: linear-gradient(-55deg, #aaca29 0%, #1bbc9d 100%)
            width: 145px
            height: 73px
            border-radius: 90px 90px 0 0
            transition: transform 2s linear
            transform-origin: 50% 100%
            transform: rotate(-180deg)
            &.rotate
              transform: rotate(-50deg)
            &.rotate-second
              transform: rotate(-20deg)
        .small-circle
          position: absolute
          background-color: $dark-section
          width: 92px
          height: 46px
          left: 50%
          bottom: 0
          margin-left: -46px
          border-radius: 90px 90px 0 0
          color: white
          font-family: $roboto
          text-transform: uppercase
          span
            font-size: 24px
            position: absolute
            bottom: -5px
            left: 50%
            transform: translate(-50%, 0)
        h3
          position: absolute
          color: white
          font-size: 13px
          font-weight: 500
          line-height: 30px
          left: 0
          right: 0
          bottom: -60px
          text-align: center
@media (min-width: 875px)
  .about
    .wrap
      .about-container
        justify-content: space-between
        figure
          margin-left: 0
          margin-right: 0
      .skills
        .line
          display: block
        span
          position: absolute
          left: 50%
          transform: translate(-50%, -50%)
      .skill-container
        justify-content: space-between
        .box
          margin-bottom: 10px
