@import header.sass
@import home.sass
@import serv.sass
@import theme.sass
@import usual.sass
@import portfolio.sass
@import our-price.sass
@import about.sass
@import contact.sass
@import photo-stream.sass
@import footer.sass
@import spinner.scss
@import mixin-var.sass


*
  box-sizing: border-box

a:link
  text-decoration: none
  color: white

#cover
  width: 100%
  height: 100%
  position: fixed
  background-image: linear-gradient($main-dark, $dark-section)
  background-attachment: scroll
  z-index: 1000
  top: 0
  display: flex
  justify-content: center
  align-items: center
