.usual {
  background-color: #45372f;
  display: flex;
  align-items: center;
  min-height: 440px; }
  .usual .wrap {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px; }
    .usual .wrap h1 {
      margin: 0; }
  @media (min-width: 768px) {
    .usual .wrap {
      text-align: initial; } }

.dark {
  color: #b6b6b6;
  background-color: #2c3035; }

.light {
  color: #5c5c5c;
  background-color: #f4f4f4; }

.about {
  background-color: #282a2e; }
  .about .wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px; }
    .about .wrap h1 {
      text-align: center;
      margin-top: 52px;
      margin-bottom: 20px;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      font-weight: 300; }
    .about .wrap .about-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      color: white;
      padding-bottom: 80px; }
      .about .wrap .about-container figure {
        width: 100%;
        max-width: 210px; }
        .about .wrap .about-container figure figcaption h3 span {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px; }
        .about .wrap .about-container figure figcaption span {
          font-family: "Arial", sans-serif;
          color: #acacac; }
    .about .wrap .skills {
      padding-top: 6.5px;
      padding-bottom: 6.5px;
      position: relative;
      text-align: center; }
      .about .wrap .skills .line {
        height: 2px;
        background-color: #424242;
        display: none; }
      .about .wrap .skills span {
        padding-left: 40px;
        padding-right: 40px;
        background-color: #282a2e;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase; }
    .about .wrap .skill-container {
      margin-top: 60px;
      padding-bottom: 80px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .about .wrap .skill-container .box {
        width: 145px;
        height: 73px;
        position: relative;
        margin-bottom: 50px; }
        .about .wrap .skill-container .box .big-circle {
          background-color: #424242;
          position: absolute;
          width: 145px;
          height: 73px;
          border-radius: 90px 90px 0 0;
          overflow: hidden; }
          .about .wrap .skill-container .box .big-circle .med-circle {
            position: absolute;
            background-color: #424242;
            background-image: linear-gradient(-55deg, #aaca29 0%, #1bbc9d 100%);
            width: 145px;
            height: 73px;
            border-radius: 90px 90px 0 0;
            transition: transform 2s linear;
            transform-origin: 50% 100%;
            transform: rotate(-180deg); }
            .about .wrap .skill-container .box .big-circle .med-circle.rotate {
              transform: rotate(-50deg); }
            .about .wrap .skill-container .box .big-circle .med-circle.rotate-second {
              transform: rotate(-20deg); }
        .about .wrap .skill-container .box .small-circle {
          position: absolute;
          background-color: #282a2e;
          width: 92px;
          height: 46px;
          left: 50%;
          bottom: 0;
          margin-left: -46px;
          border-radius: 90px 90px 0 0;
          color: white;
          font-family: "Roboto", sans-serif;
          text-transform: uppercase; }
          .about .wrap .skill-container .box .small-circle span {
            font-size: 24px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0); }
        .about .wrap .skill-container .box h3 {
          position: absolute;
          color: white;
          font-size: 13px;
          font-weight: 500;
          line-height: 30px;
          left: 0;
          right: 0;
          bottom: -60px;
          text-align: center; }

@media (min-width: 875px) {
  .about .wrap .about-container {
    justify-content: space-between; }
    .about .wrap .about-container figure {
      margin-left: 0;
      margin-right: 0; }
  .about .wrap .skills .line {
    display: block; }
  .about .wrap .skills span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .about .wrap .skill-container {
    justify-content: space-between; }
    .about .wrap .skill-container .box {
      margin-bottom: 10px; } }
